<?php if ($modules) { ?>
<aside id="column-left" class="col-sm-3 hidden-xs">
    <div class="row">
        <?php foreach ($modules as $module) { ?>
            <?php echo $module; ?>
        <?php } ?>
    </div>

</aside>
<?php } ?>
