<?php echo $header; ?>
<?php echo $content_top; ?>
<?php echo $product_home_to_category; ?>
            <?php if(1) { ?>
                <div class="wrapper_inst">
                    <div class="container">
                        <div class="row">
                            <div class="section section-instagram">
                                <div class="title-wrapper">
                                    <h2><span>#lova_lova_ua</span> в instagram</h2>
                                    <div class="wrapper-heart">
                                        <span></span>
                                        <i class="icon-heart"></i>
                                        <span></span>
                                    </div>

                                </div>
                                <div class="instagram-carousel">

                                    <?php

                                    #require_once 'inwidget/classes/Autoload.php';
                                    require_once 'inwidget/classes/InstagramScraper.php';
                                    require_once 'inwidget/classes/Unirest.php';
                                    require_once 'inwidget/classes/InWidget.php';

                                    $inWidget = new \inWidget\Core();
                                    $inWidget->getData();


                                    require_once 'inwidget/template.php';
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
<?php echo $content_bottom; ?>
<?php echo $footer; ?>