@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,cyrillic-ext');
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?wdl7eg');
    src:  url('../fonts/icomoon/icomoon.eot?wdl7eg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?wdl7eg') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?wdl7eg') format('woff'),
    url('../fonts/icomoon/icomoon.svg?wdl7eg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-300.woff") format("woff"), url("../fonts/opensans/opensans-300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-400.woff") format("woff"), url("../fonts/opensans/opensans-400.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-600.woff") format("woff"), url("../fonts/opensans/opensans-600.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-700.woff") format("woff"), url("../fonts/opensans/opensans-700.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'lemon_tuesdayregular';
    src: url('../fonts/lemon/lemon_tuesday-webfont.woff') format('woff'),
    url('../fonts/lemon/lemon_tuesday-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
    content: "\e90b";
}
.icon-back:before {
    content: "\e900";
}
.icon-next:before {
    content: "\e901";
}
.icon-phone-call:before {
    content: "\e902";
}
.icon-instagram:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\e905";
}
.icon-heart:before {
    content: "\e906";
}
.icon-search:before {
    content: "\e907";
}
.icon-user:before {
    content: "\e908";
}
.icon-vk:before {
    content: "\e909";
}
.icon-next2:before {
    content: "\e91b";
}
.icon-arrow-dow:before {
    content: "\e90a";
}