@import url("../stylesheet/fonts.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700");
/* Color palette */
/* line 17, ../sass/main.scss */
a {
  color: #9f67a5;
  text-decoration: none;
}
/* line 20, ../sass/main.scss */
a:hover {
  color: #402042;
}

/* Text styles */
@keyframes backgroundGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes loadBounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
/* line 68, ../sass/main.scss */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 69, ../sass/main.scss */
input:focus::-moz-placeholder {
  color: transparent;
}

/* line 70, ../sass/main.scss */
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 71, ../sass/main.scss */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 112, ../sass/main.scss */
h3 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #333333;
}

/* line 121, ../sass/main.scss */
menu {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #3b2f2d;
}

/* line 130, ../sass/main.scss */
html,
body {
  height: 100%;
  font-family: "Open Sans";
}

/* line 135, ../sass/main.scss */
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 143, ../sass/main.scss */
* {
  outline: 0px !important;
  font-family: "Open Sans";
  box-sizing: border-box;
}

/* line 148, ../sass/main.scss */
*:focus,
*:active {
  outline: 0px !important;
  text-shadow: none;
  box-shadow: none !important;
}

/* line 154, ../sass/main.scss */
a:hover {
  text-decoration: none;
}

/* line 157, ../sass/main.scss */
a:focus {
  outline: 0px !important;
}

/* line 160, ../sass/main.scss */
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

/* line 165, ../sass/main.scss */
#content {
  min-height: auto;
  padding-bottom: 36px;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* line 207, ../sass/main.scss */
.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* line 219, ../sass/main.scss */
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}

/* line 226, ../sass/main.scss */
header {
  flex: 0 0 auto;
  margin-bottom: 16px;
}

/* line 231, ../sass/main.scss */
.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

/* line 241, ../sass/main.scss */
.mfp-close:hover {
  cursor: pointer !important;
}

/* line 245, ../sass/main.scss */
footer {
  flex: 0 0 auto;
  background-color: #f0e7f1;
  padding: 81px 0 0;
}
/* line 249, ../sass/main.scss */
footer h3 {
  color: #444444;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding-bottom: 14px;
  margin-bottom: 35px;
}
/* line 258, ../sass/main.scss */
footer h3:before {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #9f67a5;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 271, ../sass/main.scss */
.slick-slider {
  opacity: 0;
}
/* line 273, ../sass/main.scss */
.slick-slider > .item:not(:first-child) {
  display: none;
}
/* line 276, ../sass/main.scss */
.slick-slider.slick-initialized {
  opacity: 1;
}

/* line 280, ../sass/main.scss */
.slick-slider {
  opacity: 0;
}
/* line 282, ../sass/main.scss */
.slick-slider > .item:not(:first-child) {
  display: none !important;
}

/* line 286, ../sass/main.scss */
.slick-slider.slick-initialized {
  opacity: 1;
}

/* line 289, ../sass/main.scss */
.wrapper_big-slider > .item:not(:first-child) {
  display: none !important;
}

/* line 292, ../sass/main.scss */
body {
  font-family: "Open Sans";
}

/* line 304, ../sass/main.scss */
.container-header {
  width: 1365px;
  margin: 0 auto;
}

/* line 308, ../sass/main.scss */
.top {
  background-color: #402042;
  border: 0;
  height: 47px;
  margin-bottom: 26px;
}

/* line 314, ../sass/main.scss */
.logo {
  display: block;
  margin-top: -29px;
}
/* line 317, ../sass/main.scss */
.logo img {
  display: block;
  margin: 0 auto;
}

/* line 322, ../sass/main.scss */
.navbar-collapse {
  padding: 0 !important;
}

/* line 325, ../sass/main.scss */
.list-inline {
  margin: 0;
  height: 47px;
  display: flex;
  align-items: center;
}
/* line 330, ../sass/main.scss */
.list-inline li {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.11px;
  padding: 0 20px 0 0;
  position: relative;
}
/* line 339, ../sass/main.scss */
.list-inline li:last-child {
  padding: 0;
}
/* line 342, ../sass/main.scss */
.list-inline li a {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.11px;
  position: relative;
  padding-bottom: 1px;
}
/* line 351, ../sass/main.scss */
.list-inline li a:before {
  content: '';
  position: absolute;
  transition: transform .5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scaleX(0);
}
/* line 363, ../sass/main.scss */
.list-inline li a:hover:before {
  transform: scaleX(1);
}

/* line 371, ../sass/main.scss */
.login-block {
  text-align: right;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* line 377, ../sass/main.scss */
.login-block a {
  font-family: "Open Sans";
  color: #fff;
}

/* line 382, ../sass/main.scss */
.products_row-btn {
  width: 50px;
  height: 50px;
  border: 2px solid #9f67a5;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  color: #9f67a5;
  font-size: 30px;
  line-height: 50px;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 393, ../sass/main.scss */
.products_row-btn:focus, .products_row-btn:active {
  border: 2px solid #9f67a5;
  background-color: rgba(255, 255, 255, 0.5);
  color: #9f67a5;
}
/* line 399, ../sass/main.scss */
.products_row-btn:hover {
  background-color: #9f67a5;
  color: #fff;
}
/* line 403, ../sass/main.scss */
.products_row-btn.products_row-prev_btn {
  left: 112px;
  z-index: 1;
}
/* line 407, ../sass/main.scss */
.products_row-btn.products_row-next_btn {
  right: 112px;
}

/* line 413, ../sass/main.scss */
.tab-pane ol li {
  font-size: 14px;
}
/* line 418, ../sass/main.scss */
.tab-pane ul li {
  font-size: 14px;
  list-style: none;
  position: relative;
}
/* line 423, ../sass/main.scss */
.tab-pane ul li:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9f67a5;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translate(0, -50%);
}

/* line 437, ../sass/main.scss */
.form-horizontal .control-label {
  text-align: left !important;
  margin-bottom: 10px;
}

/* line 441, ../sass/main.scss */
.navbar {
  margin-bottom: 0;
}

/* line 444, ../sass/main.scss */
.dropdown-menu.dropdown-menu-right {
  background-color: #402042;
  border-radius: 0;
  margin-top: 0;
}
/* line 449, ../sass/main.scss */
.dropdown-menu.dropdown-menu-right li a {
  color: #fff !important;
  font-size: 14px;
}
/* line 452, ../sass/main.scss */
.dropdown-menu.dropdown-menu-right li a:hover {
  color: #402042 !important;
}

/* line 458, ../sass/main.scss */
.navbar-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* line 464, ../sass/main.scss */
.nav > li > a {
  color: #444444;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 470, ../sass/main.scss */
.phone-shop {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14px;
  position: relative;
  margin-right: 40px;
  padding-left: 30px;
}
/* line 479, ../sass/main.scss */
.phone-shop i {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
}
/* line 485, ../sass/main.scss */
.phone-shop:active, .phone-shop:focus, .phone-shop:hover {
  text-decoration: none;
  color: #9f67a5;
}

/* line 492, ../sass/main.scss */
.btn-call-back {
  background-color: transparent;
  background-image: none;
  border: 0;
  padding: 0;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14px;
}

/* line 503, ../sass/main.scss */
.btn-cart {
  background-color: transparent;
  background-image: none;
  border: 0;
  padding: 0;
  color: #777777;
  position: relative;
}
/* line 510, ../sass/main.scss */
.btn-cart i {
  font-size: 30px;
}
/* line 513, ../sass/main.scss */
.btn-cart span {
  width: 20px;
  height: 20px;
  background-color: #9f67a5;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  line-height: 20px;
}

/* line 526, ../sass/main.scss */
.search-group {
  padding-left: 28px;
  padding-right: 27px;
}
/* line 529, ../sass/main.scss */
.search-group input.form-control {
  height: 24px;
  border: 0;
  border-bottom: 1px solid #777777;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14px;
}
/* line 542, ../sass/main.scss */
.search-group .input-group-btn {
  padding-left: 3px;
}
/* line 544, ../sass/main.scss */
.search-group .input-group-btn button {
  border: 0;
  border-radius: 0;
  padding: 0;
  color: #777777;
  font-size: 24px;
  background-color: transparent;
}
/* line 551, ../sass/main.scss */
.search-group .input-group-btn button:hover, .search-group .input-group-btn button:focus, .search-group .input-group-btn button:active {
  background-color: transparent;
}

/* line 559, ../sass/main.scss */
.cart-wrapper {
  padding-left: 10px;
}

/* line 562, ../sass/main.scss */
.wrapper_big-slider {
  margin-bottom: 90px;
}
/* line 564, ../sass/main.scss */
.wrapper_big-slider .item {
  position: relative;
}

/* line 569, ../sass/main.scss */
.html-block {
  margin-bottom: 65px;
}
/* line 571, ../sass/main.scss */
.html-block h2 {
  color: #9f67a5;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
/* line 580, ../sass/main.scss */
.html-block h3 {
  color: #444444;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  margin: 0;
  margin-bottom: 45px;
}
/* line 589, ../sass/main.scss */
.html-block p {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.13px;
  margin-bottom: 40px;
}
/* line 597, ../sass/main.scss */
.html-block a {
  font-family: "Open Sans";
  color: #9f67a5;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.13px;
}

/* line 607, ../sass/main.scss */
.banner-wrapper {
  background: url(/image/catalog/home_page/bg-pink.png);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 74px 0 54px;
  margin-bottom: 114px;
}

/* line 617, ../sass/main.scss */
.title-wrapper {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
/* line 621, ../sass/main.scss */
.title-wrapper h2 {
  color: #444444;
  font-size: 27px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
}
/* line 631, ../sass/main.scss */
.title-wrapper h2 span {
  color: #9f67a5;
}
/* line 635, ../sass/main.scss */
.title-wrapper .wrapper-heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* line 640, ../sass/main.scss */
.title-wrapper .wrapper-heart i {
  display: block;
  color: #9f67a5;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.18px;
  margin: 0 20px;
}
/* line 649, ../sass/main.scss */
.title-wrapper .wrapper-heart span {
  display: block;
  width: 220px;
  height: 1px;
  background-color: #9f67a5;
}

/* line 657, ../sass/main.scss */
.wrapper-item {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
/* line 662, ../sass/main.scss */
.wrapper-item:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
/* line 678, ../sass/main.scss */
.wrapper-item:hover:before {
  -webkit-animation: shine 0.9s;
  animation: shine 0.9s;
}
/* line 683, ../sass/main.scss */
.wrapper-item .item-text {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
  text-align: center;
  padding: 0 15px;
}
/* line 690, ../sass/main.scss */
.wrapper-item .item-text .title-banner {
  font-family: 'lemon_tuesdayregular';
  font-size: 70px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.75px;
  color: #9f67a5;
  margin-bottom: 30px;
}
/* line 699, ../sass/main.scss */
.wrapper-item .item-text .name-txt {
  color: #000000;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
}
/* line 707, ../sass/main.scss */
.wrapper-item .item-text .price-txt {
  color: #000000;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.19px;
  text-transform: uppercase;
}
/* line 715, ../sass/main.scss */
.wrapper-item .item-text.item-left {
  left: 35px;
  text-align: left;
}
/* line 718, ../sass/main.scss */
.wrapper-item .item-text.item-left .name-txt {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 36px;
  width: 220px;
}
/* line 729, ../sass/main.scss */
.wrapper-item .item-text.item-right {
  right: 35px;
  text-align: right;
  left: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* line 736, ../sass/main.scss */
.wrapper-item .item-text.item-right .name-txt {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 36px;
  width: 220px;
}

/* line 750, ../sass/main.scss */
.nav-tabs {
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 93px;
}
/* line 757, ../sass/main.scss */
.nav-tabs > li > a {
  color: #444444;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  border: 0;
  border-radius: 0;
}
/* line 766, ../sass/main.scss */
.nav-tabs > li > a:active, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  color: #9f67a5;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
/* line 776, ../sass/main.scss */
.nav-tabs > li.active a {
  color: #9f67a5;
  border: 0;
  border-radius: 0;
}
/* line 780, ../sass/main.scss */
.nav-tabs > li.active a:active, .nav-tabs > li.active a:focus, .nav-tabs > li.active a:hover {
  color: #9f67a5;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

/* line 792, ../sass/main.scss */
.product-thumb {
  margin-bottom: 73px;
  position: relative;
  overflow: hidden;
}
/* line 796, ../sass/main.scss */
.product-thumb:before {
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
/* line 810, ../sass/main.scss */
.product-thumb .image {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
/* line 814, ../sass/main.scss */
.product-thumb .image .button-group {
  position: absolute;
  top: 22px;
  right: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-138%);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
}
/* line 825, ../sass/main.scss */
.product-thumb .image .button-group a,
.product-thumb .image .button-group button {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #777777;
  font-size: 22px;
}
/* line 832, ../sass/main.scss */
.product-thumb .image .button-group a:hover,
.product-thumb .image .button-group button:hover {
  color: #9f67a5;
}
/* line 835, ../sass/main.scss */
.product-thumb .image .button-group a:first-child,
.product-thumb .image .button-group button:first-child {
  font-size: 24px;
}
/* line 842, ../sass/main.scss */
.product-thumb .caption a {
  display: block;
  color: #444444;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 14px;
}
/* line 853, ../sass/main.scss */
.product-thumb .caption a:after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #9f67a5;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 866, ../sass/main.scss */
.product-thumb .caption .price {
  color: #9f67a5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.16px;
  text-align: center;
}
/* line 872, ../sass/main.scss */
.product-thumb .caption .price .price-old {
  position: relative;
  color: #444444;
  margin-right: 17px;
}
/* line 876, ../sass/main.scss */
.product-thumb .caption .price .price-old:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url(/catalog/view/image/price-line-through.png);
  width: 100%;
  height: 100%;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 893, ../sass/main.scss */
.product-thumb:hover .button-group {
  transform: translateY(0);
}
/* line 896, ../sass/main.scss */
.product-thumb:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

/* line 902, ../sass/main.scss */
.carousel-wrapper {
  margin-bottom: 54px;
}
/* line 905, ../sass/main.scss */
.carousel-wrapper .products_row-btn.products_row-prev_btn {
  left: -50px;
  z-index: 1;
}
/* line 909, ../sass/main.scss */
.carousel-wrapper .products_row-btn.products_row-next_btn {
  right: -50px;
}
/* line 913, ../sass/main.scss */
.carousel-wrapper .item {
  border: 1px solid #9f67a5;
  background-color: #ffffff;
  margin: 0 15px;
}
/* line 917, ../sass/main.scss */
.carousel-wrapper .item img {
  display: block;
  margin: 0 auto;
}

/* line 923, ../sass/main.scss */
.info-wrapper {
  margin-bottom: 35px;
}
/* line 925, ../sass/main.scss */
.info-wrapper p {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.13px;
  margin-bottom: 24px;
}
/* line 933, ../sass/main.scss */
.info-wrapper a {
  color: #9f67a5;
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.11px;
}

/* line 942, ../sass/main.scss */
.container-line {
  position: relative;
  z-index: 2;
}

/* line 947, ../sass/main.scss */
.list-unstyled li {
  margin-bottom: 15px;
}
/* line 949, ../sass/main.scss */
.list-unstyled li a {
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 1px;
}
/* line 956, ../sass/main.scss */
.list-unstyled li a:before {
  content: '';
  position: absolute;
  transition: transform .5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #444444;
  transform: scaleX(0);
}
/* line 968, ../sass/main.scss */
.list-unstyled li a:hover:before {
  transform: scaleX(1);
}

/* line 975, ../sass/main.scss */
.wrapp-marg_right {
  margin-right: -15px;
}

/* line 979, ../sass/main.scss */
.social_btn a {
  font-size: 20px;
  color: #333333;
  margin-right: 13px;
}

/* line 985, ../sass/main.scss */
.copiright {
  background-color: #402042;
  padding: 18px 0;
  margin-top: 52px;
}
/* line 989, ../sass/main.scss */
.copiright p {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
/* line 996, ../sass/main.scss */
.copiright .img-wrap {
  text-align: right;
}

/* line 1000, ../sass/main.scss */
.instagram-carousel .item_content {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

/* line 1007, ../sass/main.scss */
.instagram-carousel a {
  position: absolute;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 1016, ../sass/main.scss */
.wrapper_inst {
  background: url(/catalog/view/image/3-layers.png);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 74px 0 88px;
  margin-bottom: 54px;
}

/* line 1025, ../sass/main.scss */
.instagram-carousel .item {
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}
/* line 1029, ../sass/main.scss */
.instagram-carousel .item:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
/* line 1045, ../sass/main.scss */
.instagram-carousel .item:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

/* line 1052, ../sass/main.scss */
.form-control:focus {
  border-color: #402042;
}

/* line 1055, ../sass/main.scss */
.wrapper-breadcrumb {
  background-color: #f0e7f1;
  padding: 18px 0 17px;
  margin-bottom: 49px;
}
/* line 1059, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
}
/* line 1063, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb > li + li::before {
  padding: 0;
  color: #333333;
  content: "/\00a0";
}
/* line 1068, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb li {
  color: #333333;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.11px;
}
/* line 1074, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb li a {
  color: #333333;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.11px;
}

/* line 1084, ../sass/main.scss */
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}

/* line 1098, ../sass/main.scss */
.form-checkbox__marker::after {
  position: absolute;
  content: '';
  left: 14%;
  top: 18%;
  height: 40%;
  width: 72%;
  border-bottom: 1px solid #9f67a5;
  border-left: 1px solid #9f67a5;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}

/* line 1110, ../sass/main.scss */
.form-checkbox__label span, .form-checkbox__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}

/* line 1120, ../sass/main.scss */
.form-checkbox__label span, .form-checkbox__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}

/* line 1130, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker, .form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #9f67a5;
}

/* line 1133, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after, .form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}

/* line 1136, ../sass/main.scss */
.form-checkbox input[type="radio"], .form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

/* line 1140, ../sass/main.scss */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* line 1146, ../sass/main.scss */
.select2-container .select2-selection--single {
  padding: 0 15px;
  height: 40px;
  border-radius: 0 !important;
  border-color: #9f67a5;
}

/* line 1153, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  line-height: 40px;
}

/* line 1163, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  position: absolute;
  top: 1px;
  right: 15px;
  width: 20px;
  line-height: 40px;
  font-size: 15px;
}

/* line 1172, ../sass/main.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #402042;
}

/* line 1175, ../sass/main.scss */
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #f0e7f1;
}

/* line 1180, ../sass/main.scss */
.select2-container--open .select2-selection__arrow i {
  transform: rotate(180deg);
}

/* line 1185, ../sass/main.scss */
.nav > li > a:focus, .nav > li > a:hover,
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #f0e7f1;
}

/* line 1189, ../sass/main.scss */
.dropdown-menu {
  padding: 0;
  border: 0;
  border-radius: 4px;
}
/* line 1194, ../sass/main.scss */
.dropdown-menu ul li {
  margin-bottom: 0;
  transition: .5s;
}
/* line 1197, ../sass/main.scss */
.dropdown-menu ul li a {
  padding: 10px 15px;
  display: block;
}
/* line 1201, ../sass/main.scss */
.dropdown-menu ul li:hover {
  cursor: pointer;
  background-color: #f0e7f1;
}

/* line 1208, ../sass/main.scss */
.product-container {
  margin-top: 40px;
}

/* line 1211, ../sass/main.scss */
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 50px;
}

/* line 1219, ../sass/main.scss */
.pagination li {
  padding: 0px 5px;
}

/* line 1222, ../sass/main.scss */
.pagination li.not_active span:hover {
  background-color: transparent;
}

/* line 1225, ../sass/main.scss */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0;
  border: 0;
}

/* line 1230, ../sass/main.scss */
.pagination li.not_active span {
  font-size: 16px;
  text-align: left;
  border-radius: 0px;
  color: #999999 !important;
  border: 0px;
}

/* line 1237, ../sass/main.scss */
.pagination li.next a,
.pagination li.next span,
.pagination li.prev a,
.pagination li.prev span {
  font-size: 16px;
  text-align: left;
  color: #9f67a5;
  border-radius: 0px;
  border: 0px;
}

/* line 1247, ../sass/main.scss */
.pagination li.next a:hover,
.pagination li.next span:hover,
.pagination li.prev a:hover,
.pagination li.prev span:hover {
  border: 0;
  color: #9f67a5;
  background-color: #fff;
}

/* line 1255, ../sass/main.scss */
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #1a1a1a;
  border: 0;
  text-decoration: none;
  background-color: #fff;
}

/* line 1267, ../sass/main.scss */
.pagination li a {
  float: none;
  font-size: 16px;
  color: #1a1a1a;
  padding: 0px;
  height: 25px;
  min-width: 25px;
  border-radius: 0;
  text-align: center;
  border: 0;
  display: block;
}

/* line 1279, ../sass/main.scss */
.pagination li a:focus,
.pagination li a:active,
.pagination li a:hover {
  background-color: #9f67a5;
  border-radius: 5px;
  color: #fff;
}

/* line 1286, ../sass/main.scss */
.pagination li.active span {
  padding: 0px;
  height: 25px;
  min-width: 25px;
  font-size: 16px;
  text-align: center;
  background-color: #9f67a5;
  border-radius: 5px;
  color: #fff;
  border: 0;
}

/* line 1301, ../sass/main.scss */
.pagination li.active span:hover {
  background-color: transparent;
  border-radius: 5px;
  color: #9f67a5;
}

/* line 1307, ../sass/main.scss */
.pagination li i {
  margin: 0 5px;
  line-height: 16px;
  font-size: 16px;
}

/* line 1312, ../sass/main.scss */
.new-product {
  width: 80px;
  height: 40px;
  background-color: #9f67a5;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 1322, ../sass/main.scss */
.new-product p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.35px;
  margin-bottom: 0;
}

/* line 1331, ../sass/main.scss */
h1 {
  color: #333333;
  font-size: 27px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  margin: 0 0 36px;
}

/* line 1341, ../sass/main.scss */
#mfilter-content-container h1 {
  margin-bottom: 0;
}

/* line 1345, ../sass/main.scss */
.info-prod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 38px;
}
/* line 1350, ../sass/main.scss */
.info-prod .item-info {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.16px;
}
/* line 1357, ../sass/main.scss */
.info-prod .item-info span {
  color: #333333;
  font-weight: 700;
  letter-spacing: 0.16px;
  position: relative;
}
/* line 1363, ../sass/main.scss */
.info-prod .item-info .price-new {
  color: #9f67a5;
}

/* line 1368, ../sass/main.scss */
.price-cart {
  color: #9f67a5;
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.23px;
}
/* line 1375, ../sass/main.scss */
.price-cart .price-old {
  margin-right: 34px;
}
/* line 1377, ../sass/main.scss */
.price-cart .price-old span {
  position: relative;
}
/* line 1380, ../sass/main.scss */
.price-cart .price-old:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url(/catalog/view/image/price-line-through.png);
  width: 100%;
  height: 100%;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 1396, ../sass/main.scss */
.table-cart .price-cart {
  font-size: 18px;
}

/* line 1400, ../sass/main.scss */
.rating {
  color: #9f67a5;
}
/* line 1402, ../sass/main.scss */
.rating .fa-stack {
  width: 1em;
  height: 1em;
  line-height: normal;
}

/* line 1408, ../sass/main.scss */
.thumbnails {
  width: 456px;
  margin: 0 auto 35px;
}
/* line 1412, ../sass/main.scss */
.thumbnails .item a {
  cursor: pointer !important;
}
/* line 1414, ../sass/main.scss */
.thumbnails .item a:hover {
  cursor: pointer;
}

/* line 1423, ../sass/main.scss */
.thumbnails-mini .item {
  margin: 0 7.5px;
}
/* line 1427, ../sass/main.scss */
.thumbnails-mini .item img {
  width: 100%;
}
/* line 1430, ../sass/main.scss */
.thumbnails-mini .item:hover {
  cursor: pointer;
}
/* line 1435, ../sass/main.scss */
.thumbnails-mini .item.slick-current img {
  border: 1px solid #9f67a5;
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.09);
}

/* line 1443, ../sass/main.scss */
.wrapp_inputs {
  width: 100px;
  height: 50px;
  border: 1px solid #9f67a5;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}
/* line 1452, ../sass/main.scss */
.wrapp_inputs .button {
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
}
/* line 1464, ../sass/main.scss */
.wrapp_inputs input {
  width: 33.3%;
  height: 100%;
  border: 0;
  box-shadow: none;
  text-align: center;
}

/* line 1472, ../sass/main.scss */
.btn-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 1477, ../sass/main.scss */
.qty_block {
  margin-right: 24px;
}

/* line 1480, ../sass/main.scss */
.buy_block {
  margin-right: 24px;
}
/* line 1482, ../sass/main.scss */
.buy_block button {
  height: 50px;
  border: 0;
  background-color: #9f67a5;
  min-width: 330px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
}
/* line 1493, ../sass/main.scss */
.buy_block button:hover, .buy_block button:active, .buy_block button:focus {
  border: 2px solid #9f67a5;
  background-color: #fff;
  color: #9f67a5;
}

/* line 1502, ../sass/main.scss */
.in_wishlist {
  width: 50px;
  height: 50px;
  border: 1px solid #9f67a5;
  background-color: #ffffff;
  font-size: 26px;
  color: #9f67a5;
}
/* line 1509, ../sass/main.scss */
.in_wishlist:hover, .in_wishlist:focus, .in_wishlist:active {
  background-color: #9f67a5;
  color: #fff;
}
/* line 1515, ../sass/main.scss */
.in_wishlist.disabled {
  background-color: #9f67a5;
  color: #fff;
  cursor: auto;
}

/* line 1521, ../sass/main.scss */
.container-options {
  margin-bottom: 40px;
}

/* line 1524, ../sass/main.scss */
.container-description-prod {
  margin-bottom: 60px;
}
/* line 1526, ../sass/main.scss */
.container-description-prod .nav-tabs {
  margin-bottom: 25px;
  justify-content: space-between;
}
/* line 1529, ../sass/main.scss */
.container-description-prod .nav-tabs > li {
  margin-right: 44px;
}
/* line 1531, ../sass/main.scss */
.container-description-prod .nav-tabs > li:last-child {
  margin-right: 0;
}
/* line 1534, ../sass/main.scss */
.container-description-prod .nav-tabs > li:hover {
  border-bottom: 2px solid #9f67a5;
}
/* line 1537, ../sass/main.scss */
.container-description-prod .nav-tabs > li > a {
  color: #666666;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  padding: 10px 0;
}
/* line 1545, ../sass/main.scss */
.container-description-prod .nav-tabs > li > a:hover {
  color: #444444;
  background-color: transparent;
}
/* line 1550, ../sass/main.scss */
.container-description-prod .nav-tabs > li.active {
  border-bottom: 2px solid #9f67a5;
}
/* line 1552, ../sass/main.scss */
.container-description-prod .nav-tabs > li.active a {
  color: #444444;
}
/* line 1559, ../sass/main.scss */
.container-description-prod .tab-pane > * {
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

/* line 1567, ../sass/main.scss */
.related-prod {
  border-bottom: 2px solid #f9f5f9;
  padding: 0px 0 63px;
  background: url(/catalog/view/image/product-banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 83px;
}

/* line 1575, ../sass/main.scss */
.prod-container {
  border-bottom: 2px solid #f9f5f9;
  margin-bottom: 54px;
}

/* line 1579, ../sass/main.scss */
.btn-primary {
  height: 50px;
  background-color: #9f67a5;
  color: #fff;
  border: 0;
  border-radius: 0;
  background-image: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
/* line 1591, ../sass/main.scss */
.btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:hover {
  background-color: #402042;
}

/* line 1599, ../sass/main.scss */
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  background-color: transparent;
}

/* line 1610, ../sass/main.scss */
.btn-default.focus:focus,
.btn-default:active,
.btn-default.focus,
.btn-default:hover {
  background-color: transparent;
}

/* line 1616, ../sass/main.scss */
.modal-sm {
  width: 500px;
}

/* line 1619, ../sass/main.scss */
input.form-control {
  height: 50px;
  border-radius: 0;
  border: 1px solid #9f67a5;
  background-color: #ffffff;
  padding: 0 15px;
}

/* line 1626, ../sass/main.scss */
textarea.form-control {
  height: 150px;
  resize: none;
  border-radius: 0;
  border: 1px solid #9f67a5;
  background-color: #ffffff;
  padding: 15px;
}

/* line 1634, ../sass/main.scss */
.modal-title {
  text-transform: uppercase;
}

/* line 1637, ../sass/main.scss */
.control-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: #333;
}

/* line 1644, ../sass/main.scss */
.cont-margin {
  margin-top: -4px;
}

/* line 1648, ../sass/main.scss */
.wrapper-prod_home .title-wrapper {
  margin-bottom: 15px;
}

/* line 1652, ../sass/main.scss */
.user_message_wrapp {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #9f67a5;
  z-index: 9;
}

/* line 1659, ../sass/main.scss */
.alert-success {
  background-color: #9f67a5;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}
/* line 1669, ../sass/main.scss */
.alert-success a {
  color: #f0e7f1;
}

/* line 1673, ../sass/main.scss */
.back-top {
  width: 72px;
  height: 72px;
  border: 2px solid #9f67a5;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  right: 203px;
  bottom: 255px;
  transform: rotate(45deg);
  font-size: 27px;
}
/* line 1683, ../sass/main.scss */
.back-top a {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(225deg);
  display: flex;
  color: #9f67a5;
  align-items: center;
  justify-content: center;
}
/* line 1693, ../sass/main.scss */
.back-top a span {
  font-weight: 700;
}
/* line 1697, ../sass/main.scss */
.back-top:hover {
  background-color: #9f67a5;
}
/* line 1699, ../sass/main.scss */
.back-top:hover a {
  color: #fff;
}

/* line 1705, ../sass/main.scss */
.btn-slider {
  width: 260px;
  height: 70px;
  border: 2px solid #9f67a5;
  background-color: white;
  color: #9f67a5;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease;
  position: absolute;
  bottom: 185px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 22;
}
/* line 1726, ../sass/main.scss */
.btn-slider:focus, .btn-slider:active, .btn-slider:hover {
  background-color: #9f67a5;
  color: #ffffff;
}

/* line 1733, ../sass/main.scss */
.cart-wrapper {
  position: relative;
}
/* line 1735, ../sass/main.scss */
.cart-wrapper .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 15px;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0;
  margin: 0 !important;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  min-width: auto;
}
/* line 1754, ../sass/main.scss */
.cart-wrapper .dropdown-menu.pull-right {
  right: 0;
}
/* line 1757, ../sass/main.scss */
.cart-wrapper .dropdown-menu.table-basket {
  width: 971px;
  padding: 24px 34px;
  border: solid 1px #d3d3d3;
  border-radius: 0;
  left: 50% !important;
  transform: translate(-100%, 0);
}
/* line 1767, ../sass/main.scss */
.cart-wrapper.open .dropdown-menu {
  display: block;
}

/* line 1772, ../sass/main.scss */
.new-group .position {
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  color: #333;
  position: relative;
}

/* line 1780, ../sass/main.scss */
.new-group .position span {
  width: 18.4px;
  height: 1px;
  background-color: #ababab;
  position: absolute;
  top: 50%;
  left: 10px;
}

/* line 1788, ../sass/main.scss */
.new-group .increment span::before {
  content: '';
  width: 18.4px;
  height: 1px;
  position: absolute;
  background-color: #ababab;
  transform: rotate(90deg);
}

/* line 1796, ../sass/main.scss */
.container-btn {
  position: relative;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  transform: translate(0, -50%);
}

/* line 1804, ../sass/main.scss */
.delete-items {
  background-color: transparent;
  border: none;
  right: 0;
}

/* line 1809, ../sass/main.scss */
.btn-close {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: solid 1px  #9f67a5;
  border-radius: 0;
  position: absolute;
  right: 0;
  padding: 0;
}

/* line 1819, ../sass/main.scss */
.wrapper-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  top: 0;
}

/* line 1826, ../sass/main.scss */
.close-icon {
  width: 16px;
  height: 1px;
  background-color: #545454;
  display: block;
  margin-top: -1px;
  position: relative;
  top: 15px;
  left: 6px;
}

/* line 1836, ../sass/main.scss */
.btn-close .close-icon:nth-child(1) {
  transform: rotate(45deg);
}

/* line 1839, ../sass/main.scss */
.btn-close .close-icon:nth-child(2) {
  transform: rotate(-45deg);
}

/* line 1842, ../sass/main.scss */
.table-cart tbody td {
  border-top: none !important;
  vertical-align: middle !important;
}

/* line 1846, ../sass/main.scss */
.delete-items .close-icon {
  background-color: #402042;
}

/* line 1849, ../sass/main.scss */
.new-group {
  display: flex;
  float: left;
}

/* line 1853, ../sass/main.scss */
.cart-items:last-child {
  border: 0;
}

/* line 1856, ../sass/main.scss */
.cart-items {
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20.5px;
  width: 100%;
  display: table;
}

/* line 1863, ../sass/main.scss */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-bottom: 0;
}

/* line 1866, ../sass/main.scss */
.cart-product {
  color: #9f67a5;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.23px;
}
/* line 1873, ../sass/main.scss */
.cart-product:hover, .cart-product:active, .cart-product:focus {
  color: #402042;
}

/* line 1879, ../sass/main.scss */
.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 1883, ../sass/main.scss */
.btn-wrapper .btn-primary {
  min-width: 250px;
}

/* line 1888, ../sass/main.scss */
.table-cart .qty_block {
  margin-right: 0;
}

/* line 1892, ../sass/main.scss */
.simple_cart {
  background-color: #f0e7f1;
  padding: 20px 15px;
}
/* line 1895, ../sass/main.scss */
.simple_cart .simple_item {
  display: flex;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 1900, ../sass/main.scss */
.simple_cart .simple_item .wrapp_cart_right {
  width: 100%;
}

/* line 1905, ../sass/main.scss */
.wrapper-image {
  width: 120px;
}

/* line 1908, ../sass/main.scss */
.wrapper-name {
  min-width: 468px;
}

/* line 1911, ../sass/main.scss */
.pqt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 1917, ../sass/main.scss */
.info-cart .name {
  margin-bottom: 20px;
}
/* line 1919, ../sass/main.scss */
.info-cart .name a {
  font-size: 18px;
  color: #9f67a5;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 1927, ../sass/main.scss */
.btn-pink {
  background-color: #9f67a5;
  color: #fff;
  height: 50px;
  border-radius: 0;
  font-weight: 700;
  min-width: 250px;
}
/* line 1934, ../sass/main.scss */
.btn-pink:focus, .btn-pink:active, .btn-pink:hover {
  background-color: #402042;
  color: #fff;
}

/* line 1941, ../sass/main.scss */
.btn-simple {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* line 1945, ../sass/main.scss */
.btn-simple .btn {
  margin-right: 20px;
}

/* line 1949, ../sass/main.scss */
.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 2px solid #9f67a5;
  background-color: #ffffff;
  color: #9f67a5;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.19px;
  border-radius: 0;
  min-width: 250px;
  text-transform: uppercase;
}
/* line 1963, ../sass/main.scss */
.btn-default:hover {
  border: 2px solid #9f67a5;
  background-color: #9f67a5;
  color: #fff;
}

/* line 1970, ../sass/main.scss */
.simplecheckout-block-content .select2-container .select2-selection--single {
  height: 50px;
}
/* line 1973, ../sass/main.scss */
.simplecheckout-block-content .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
  line-height: 50px;
}
/* line 1977, ../sass/main.scss */
.simplecheckout-block-content .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
}

/* line 1981, ../sass/main.scss */
.map {
  width: 100%;
  height: 400px;
}

/* line 1986, ../sass/main.scss */
.item-contact p {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
/* line 1991, ../sass/main.scss */
.item-contact a {
  font-weight: 600;
  color: #333;
}
/* line 1994, ../sass/main.scss */
.item-contact a:hover {
  color: #9f67a5;
}
/* line 1996, ../sass/main.scss */
.item-contact a:hover i {
  color: #9f67a5;
}

/* line 2003, ../sass/main.scss */
.content-information > * {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
/* line 2008, ../sass/main.scss */
.content-information ul {
  margin-bottom: 20px;
}
/* line 2010, ../sass/main.scss */
.content-information ul li {
  position: relative;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 10px;
}
/* line 2015, ../sass/main.scss */
.content-information ul li:before {
  content: '';
  background-color: #9f67a5;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 2027, ../sass/main.scss */
.content-information ol {
  counter-reset: item;
  margin-bottom: 20px;
}
/* line 2030, ../sass/main.scss */
.content-information ol li {
  position: relative;
  list-style: none;
  padding-left: 35px;
  margin-bottom: 10px;
}
/* line 2035, ../sass/main.scss */
.content-information ol li:before {
  content: counter(item);
  counter-increment: item;
  background-color: #9f67a5;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
}
/* line 2053, ../sass/main.scss */
.content-information p {
  margin-bottom: 20px;
}
/* line 2056, ../sass/main.scss */
.content-information h2 {
  margin: 0 0 20px;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 2062, ../sass/main.scss */
.content-information h3 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 2068, ../sass/main.scss */
.content-information h4 {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 2076, ../sass/main.scss */
.form-style .required {
  margin-bottom: 20px;
}

/* line 2080, ../sass/main.scss */
.modal-content {
  border-radius: 0;
  padding: 30px;
}
/* line 2085, ../sass/main.scss */
.modal-content .fl_login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 2089, ../sass/main.scss */
.modal-content .fl_login .form-checkbox {
  padding-left: 0;
}
/* line 2092, ../sass/main.scss */
.modal-content .fl_login a {
  color: #9f67a5;
}
/* line 2094, ../sass/main.scss */
.modal-content .fl_login a:hover, .modal-content .fl_login a:focus, .modal-content .fl_login a:active {
  color: #402042;
}
/* line 2101, ../sass/main.scss */
.modal-content .center-btn {
  margin: 0 auto;
}
/* line 2103, ../sass/main.scss */
.modal-content .center-btn.createaccount {
  margin: 20px auto;
}
/* line 2107, ../sass/main.scss */
.modal-content .title-wrapper {
  margin-bottom: 20px;
}
/* line 2111, ../sass/main.scss */
.modal-content .social_block {
  margin: 20px 0;
}
/* line 2113, ../sass/main.scss */
.modal-content .social_block .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
}

/* line 2122, ../sass/main.scss */
.modal-dialog .close {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  opacity: 1 !important;
  top: 15px;
  right: 15px;
}
/* line 2131, ../sass/main.scss */
.modal-dialog .close .close-icon {
  background-color: #402042;
}
/* line 2133, ../sass/main.scss */
.modal-dialog .close .close-icon:first-child {
  transform: rotate(45deg);
}
/* line 2136, ../sass/main.scss */
.modal-dialog .close .close-icon:last-child {
  transform: rotate(-45deg);
}

/* line 2143, ../sass/main.scss */
.agree {
  color: #9f67a5;
}
/* line 2145, ../sass/main.scss */
.agree:hover, .agree:focus, .agree:active {
  color: #9f67a5;
}

/* line 2151, ../sass/main.scss */
.account_title {
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  margin-bottom: 20px;
}

/* line 2160, ../sass/main.scss */
.account_left_bar {
  padding-left: 0;
}
/* line 2162, ../sass/main.scss */
.account_left_bar li {
  list-style: none;
  margin-bottom: 20px;
}
/* line 2165, ../sass/main.scss */
.account_left_bar li a {
  padding: 15px 15px;
  border: 2px solid #9f67a5;
  display: block;
  font-weight: 600;
  text-align: center;
  color: #9f67a5;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 2174, ../sass/main.scss */
.account_left_bar li a:hover, .account_left_bar li a:focus, .account_left_bar li a:active {
  background-color: #9f67a5;
  color: #fff;
}
/* line 2182, ../sass/main.scss */
.account_left_bar li.active a {
  background-color: #9f67a5;
  color: #fff !important;
}

/* line 2189, ../sass/main.scss */
.order_histor_item {
  border: 1px solid #9f67a5;
}

/* line 2192, ../sass/main.scss */
.table-bordered {
  border: 1px solid #f0e7f1 !important;
}

/* line 2195, ../sass/main.scss */
.name-news {
  display: block;
  color: #444444;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 14px;
}

/* line 2207, ../sass/main.scss */
.news-block {
  position: relative;
  overflow: hidden;
}
/* line 2210, ../sass/main.scss */
.news-block:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
/* line 2225, ../sass/main.scss */
.news-block:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}
/* line 2230, ../sass/main.scss */
.news-block .position-date {
  margin-bottom: 10px;
}
/* line 2233, ../sass/main.scss */
.news-block a {
  text-align: center;
  display: block;
}
/* line 2236, ../sass/main.scss */
.news-block a span {
  color: #9f67a5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.16px;
  text-align: center;
}

/* line 2246, ../sass/main.scss */
.news_block_btn {
  margin-bottom: 50px;
}
/* line 2248, ../sass/main.scss */
.news_block_btn .btn-default {
  width: 250px;
  margin: 0 auto;
}

/* line 2254, ../sass/main.scss */
.wrapper-image_article a {
  display: block;
  min-height: 263px;
  text-align: center;
}
/* line 2258, ../sass/main.scss */
.wrapper-image_article a img {
  margin: 0 auto;
  display: block;
  float: none;
}

/* line 2266, ../sass/main.scss */
.table-cart_xs p {
  font-weight: 600;
}

/* line 2270, ../sass/main.scss */
.price-size.total {
  text-align: right;
}

/* line 2273, ../sass/main.scss */
.alert-danger {
  color: #a94442;
  background-color: #f0b9b9;
  border-color: #ebccd1;
  border-radius: 0;
}

/* line 2279, ../sass/main.scss */
.color {
  display: flex;
  flex-direction: row;
}

/* line 2283, ../sass/main.scss */
.color-radio {
  border: 1px solid #f9f5f9;
  margin: 0 4.5px 11px;
}
/* line 2287, ../sass/main.scss */
.color-radio.activeCSS {
  border-color: #9f67a5;
}

/* line 2291, ../sass/main.scss */
.card-info__val {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.16px;
}

/* line 2299, ../sass/main.scss */
.alfavit {
  margin-bottom: 20px;
}

/* line 2302, ../sass/main.scss */
.attribute_groups {
  margin-bottom: 20px;
}

/* line 2306, ../sass/main.scss */
.product-search .select2-container .select2-selection--single {
  height: 50px;
}
/* line 2309, ../sass/main.scss */
.product-search .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
}
/* line 2312, ../sass/main.scss */
.product-search .select2-container--default .select2-selection--single .select2-selection__arrow {
  line-height: 50px;
  height: 50px;
}

/* line 2317, ../sass/main.scss */
.checkbox-inline {
  margin-bottom: 20px;
}

/* line 2320, ../sass/main.scss */
.margin-btn {
  margin: 20px;
}

/* line 2323, ../sass/main.scss */
.brand-block {
  background-color: #f0e7f1;
  padding: 15px;
  margin-bottom: 30px;
}
/* line 2327, ../sass/main.scss */
.brand-block h2 {
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 0 20px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 2336, ../sass/main.scss */
.brand-block .name-brand {
  padding: 5px 0;
  text-align: center;
}
/* line 2339, ../sass/main.scss */
.brand-block .name-brand a {
  color: #333333;
}

/* line 2346, ../sass/main.scss */
.account-return-add .input-group .form-control {
  min-width: 215px;
}

/* line 2352, ../sass/main.scss */
.category-child {
  padding-left: 0;
}
/* line 2354, ../sass/main.scss */
.category-child li {
  float: none;
  height: 40px;
  background-color: #f0e7f1;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 2363, ../sass/main.scss */
.category-child li a {
  color: #333;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
}
