@media screen and (max-width: 1366px) {
  /* line 9, ../sass/media.scss */
  .back-top {
    right: 32px;
    width: 45px;
    height: 45px;
    font-size: 20px;
  }

  /* line 15, ../sass/media.scss */
  .btn-slider {
    bottom: 110px;
  }
}
@media screen and (max-width: 1280px) {
  /* line 20, ../sass/media.scss */
  .product-thumb .caption a {
    height: 61px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1199px) {
  /* line 26, ../sass/media.scss */
  .article-image {
    width: 100%;
  }

  /* line 30, ../sass/media.scss */
  .html-block img {
    width: 100%;
  }

  /* line 35, ../sass/media.scss */
  .row.not-row-md {
    margin: 0px !important;
  }

  /* line 39, ../sass/media.scss */
  .social_btn {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 44, ../sass/media.scss */
  .btn-slider {
    bottom: 80px;
  }

  /* line 47, ../sass/media.scss */
  #mfilter-opts-price-min, #mfilter-opts-price-max {
    width: 110px !important;
    min-width: 113px !important;
    max-width: 124px !important;
  }

  /* line 52, ../sass/media.scss */
  .cart-wrapper .dropdown-menu.table-basket {
    width: 720px;
  }

  /* line 56, ../sass/media.scss */
  .buy_block button {
    min-width: 260px;
  }

  /* line 60, ../sass/media.scss */
  .container-description-prod .nav-tabs > li {
    margin-right: 30px;
  }
  /* line 62, ../sass/media.scss */
  .container-description-prod .nav-tabs > li a {
    font-size: 14px;
  }

  /* line 66, ../sass/media.scss */
  .wrapper-name {
    min-width: 260px;
  }
}
@media screen and (max-width: 991px) {
  /* line 71, ../sass/media.scss */
  .logo {
    margin-top: 0;
  }

  /* line 75, ../sass/media.scss */
  .top .list-inline {
    justify-content: center;
  }

  /* line 79, ../sass/media.scss */
  .btn-cart {
    float: none !important;
  }

  /* line 82, ../sass/media.scss */
  .cart-wrapper {
    text-align: center;
  }

  /* line 85, ../sass/media.scss */
  .btn-slider {
    height: 50px;
    font-size: 16px;
    bottom: 15%;
  }

  /* line 91, ../sass/media.scss */
  .wrapper-item img {
    width: 100%;
  }

  /* line 95, ../sass/media.scss */
  .html-block {
    margin-bottom: 0;
  }
  /* line 97, ../sass/media.scss */
  .html-block img {
    width: auto;
    margin: 0 auto;
    display: block;
  }

  /* line 103, ../sass/media.scss */
  .banner-wrapper {
    margin-bottom: 54px;
  }

  /* line 108, ../sass/media.scss */
  .product-thumb .image img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  /* line 116, ../sass/media.scss */
  .container-line {
    text-align: center;
  }

  /* line 120, ../sass/media.scss */
  .account-return-add .input-group {
    display: block;
  }
  /* line 122, ../sass/media.scss */
  .account-return-add .input-group .btn-default {
    margin-top: 10px;
    width: 100%;
  }
  /* line 127, ../sass/media.scss */
  .account-return-add .pull-left {
    float: none !important;
    margin-bottom: 10px;
  }
  /* line 131, ../sass/media.scss */
  .account-return-add .pull-right {
    float: none !important;
  }
  /* line 133, ../sass/media.scss */
  .account-return-add .pull-right .btn-primary {
    width: 100%;
    margin-top: 5px;
  }

  /* line 139, ../sass/media.scss */
  .cont-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 143, ../sass/media.scss */
  .navbar {
    width: 100%;
  }

  /* line 147, ../sass/media.scss */
  .container {
    width: 100%;
  }

  /* line 150, ../sass/media.scss */
  .navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 -15px 0px;
  }
  /* line 156, ../sass/media.scss */
  .navbar-header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 30px;
    padding: 7px 15px;
    background-color: #402042;
    border-radius: 0;
    margin: 0 -15px;
  }
  /* line 169, ../sass/media.scss */
  .navbar-header button:focus, .navbar-header button:active, .navbar-header button:hover {
    color: #fff;
  }
  /* line 174, ../sass/media.scss */
  .navbar-header button span {
    font-family: 'lemon_tuesdayregular';
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.75px;
    color: #fff;
    margin-right: 20px;
  }

  /* line 186, ../sass/media.scss */
  .navbar.open {
    position: fixed;
    top: 0;
    background-color: #f0e7f1;
    z-index: 9;
    height: 100%;
    left: 0;
    padding: 50px 15px;
    overflow-y: auto;
  }

  /* line 197, ../sass/media.scss */
  .overflow-body {
    overflow: hidden;
  }

  /* line 200, ../sass/media.scss */
  .navbar-nav {
    flex-direction: column;
    margin: 0;
  }
  /* line 204, ../sass/media.scss */
  .navbar-nav li {
    width: 100%;
    text-align: center;
  }

  /* line 209, ../sass/media.scss */
  .html-block {
    padding: 0 15px;
  }

  /* line 213, ../sass/media.scss */
  .wrapper-breadcrumb .breadcrumb {
    padding: 0 15px;
  }

  /* line 217, ../sass/media.scss */
  .carousel-wrapper__releted {
    padding: 0 15px;
  }

  /* line 220, ../sass/media.scss */
  .slider-image-big-curier {
    margin-bottom: 30px;
  }

  /* line 223, ../sass/media.scss */
  .thumbnails {
    width: 100%;
  }
  /* line 226, ../sass/media.scss */
  .thumbnails .item a {
    display: block;
    width: 100%;
  }
  /* line 229, ../sass/media.scss */
  .thumbnails .item a img {
    width: 100%;
  }

  /* line 235, ../sass/media.scss */
  .wrapper-module {
    padding: 0 15px;
  }

  /* line 238, ../sass/media.scss */
  .nav-tabs {
    margin-bottom: 35px;
    flex-direction: column;
  }
  /* line 241, ../sass/media.scss */
  .nav-tabs > li {
    width: 100%;
    text-align: center;
  }

  /* line 246, ../sass/media.scss */
  .wrapper-top-menu {
    position: relative;
  }
  /* line 248, ../sass/media.scss */
  .wrapper-top-menu .list-inline {
    display: none;
    background-color: #402042;
    flex-direction: column;
  }
  /* line 252, ../sass/media.scss */
  .wrapper-top-menu .list-inline.active {
    display: block;
    position: static;
    top: 100%;
    width: 100%;
    z-index: 9;
    height: 100%;
  }
  /* line 260, ../sass/media.scss */
  .wrapper-top-menu .list-inline li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
  }
  /* line 267, ../sass/media.scss */
  .wrapper-top-menu .open-xs-menu {
    color: #f0e7f1;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    background-color: transparent;
    border: 0;
    padding: 6px 15px;
    width: 100%;
    min-height: 47px;
  }
  /* line 278, ../sass/media.scss */
  .wrapper-top-menu .open-xs-menu span {
    font-family: 'lemon_tuesdayregular';
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -1.75px;
    color: #f0e7f1;
    margin-right: 15px;
  }

  /* line 289, ../sass/media.scss */
  .top {
    height: auto;
  }

  /* line 292, ../sass/media.scss */
  .wrapper-xs-padding {
    padding: 0 15px;
  }

  /* line 295, ../sass/media.scss */
  .login-block a {
    text-align: right;
    font-size: 18px;
    width: 100%;
    padding-right: 15px;
  }

  /* line 301, ../sass/media.scss */
  .top {
    margin-bottom: 15px;
  }

  /* line 304, ../sass/media.scss */
  .dropdown-menu.dropdown-menu-right {
    background-color: #402042;
    border-radius: 0;
    margin-top: 0;
  }
  /* line 309, ../sass/media.scss */
  .dropdown-menu.dropdown-menu-right li a {
    color: #fff !important;
    font-size: 14px;
  }

  /* line 315, ../sass/media.scss */
  .modal-sm {
    width: 90%;
  }

  /* line 318, ../sass/media.scss */
  .modal-content {
    padding: 15px;
  }

  /* line 321, ../sass/media.scss */
  .btn-default {
    min-width: 100%;
    width: 100%;
  }

  /* line 325, ../sass/media.scss */
  .title-wrapper h2 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  /* line 330, ../sass/media.scss */
  .modal-content .fl_login {
    flex-direction: column;
  }

  /* line 333, ../sass/media.scss */
  .top {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9;
  }

  /* line 340, ../sass/media.scss */
  header {
    padding-top: 62px;
  }
}
@media screen and (max-width: 580px) {
  /* line 345, ../sass/media.scss */
  .col-xxs-12 {
    width: 100%;
    float: none;
  }

  /* line 350, ../sass/media.scss */
  .container-description-prod .nav-tabs {
    flex-direction: column;
    justify-content: center;
  }
  /* line 353, ../sass/media.scss */
  .container-description-prod .nav-tabs li {
    width: 100%;
    margin-right: 0;
    border: 1px solid #9f67a5;
    margin-bottom: 15px;
    text-align: center;
  }
  /* line 359, ../sass/media.scss */
  .container-description-prod .nav-tabs li a {
    margin-right: 0;
  }
  /* line 363, ../sass/media.scss */
  .container-description-prod .nav-tabs li.active a {
    background-color: #9f67a5;
    color: #fff;
  }

  /* line 371, ../sass/media.scss */
  .html-block img {
    width: 100%;
  }

  /* line 374, ../sass/media.scss */
  .wrapp-marg_xs-left {
    margin-left: -15px;
  }

  /* line 379, ../sass/media.scss */
  .copiright .img-wrap img {
    width: 100%;
  }
}
