@import url("../stylesheet/fonts.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700");

$main_font : 'Open Sans';
/* Color palette */

$violet: #402042;
$greyish-brown: #3b2f2d;
$white: #ffffff;
$grey_text: #444444;
$grey_light_text: #777777;
$violet_text: #9f67a5;
$violet_pink: #f0e7f1;



a {
  color: $violet_text;
  text-decoration: none;
  &:hover{
    color: $violet;
  }
}

/* Text styles */
@mixin centre($axis: "both") {
  position: absolute;
  @if $axis == "y" {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @if $axis == "x" {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $axis == "both" {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
  }
}

@keyframes backgroundGradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

@keyframes loadBounce {
  0%{transform:translate(-50%, -50%) scale(0);}
  40%{transform:translate(-50%, -50%) scale(1.2);}
  60%{transform:translate(-50%, -50%) scale(1);}
  80%{transform:translate(-50%, -50%) scale(1.1);}
  100%{transform:translate(-50%, -50%) scale(1);}
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}
@mixin banner-title {
  font-family: $main_font;
  font-size: 56px;
  font-weight: 900;
  line-height: 1.09;
  text-align: left;
  color: $white;
}

@mixin btn-text-black {
  font-family: $main_font;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #1e1e1e;
}

@mixin btn-text-whith {
  font-family: $main_font;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: $white;
}

@mixin data-text {
  font-family: $main_font;
  font-size: 15px;
  text-align: left;
  color: #909090;
}

@mixin text-normal {
  font-family: $main_font;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #333333;
}

h3 {
  font-family: $main_font;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #333333;
}

menu {
  font-family: $main_font;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: $greyish-brown;
}


html,
body {
  height: 100%;
  font-family: $main_font;
}
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*{
  outline:0px!important;
  font-family: $main_font;
  box-sizing: border-box;
}
*:focus,
*:active{
  outline: 0px!important;
  text-shadow: none;
  box-shadow: none!important;
}
a:hover{
  text-decoration: none;
}
a:focus{
  outline: 0px !important;
}
a:focus,
a:hover,
a:active{
  text-decoration: none;
}
#content{
  min-height: auto;
  padding-bottom: 36px;
}

@mixin t-y{
  top: 50%;
  transform: translateY(-50%);
}
@mixin t-x{
  left: 50%;
  transform: translateX(-50%);
}
@mixin t-xy{
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
$shadowlength: 60;

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through $shadowlength {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}
.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow-x:hidden ;
}
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}
header {
  flex: 0 0 auto;
  margin-bottom: 16px;
}

.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  //background-color: $beige;
  //padding-top: 30px;
  min-height: 100%;
  //padding-top: 116px;
}
.mfp-close{
  &:hover{
    cursor: pointer!important;
  }
}
footer {
  flex: 0 0 auto;
  background-color: $violet_pink;
  padding: 81px 0 0;
  h3{
    color: #444444;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    padding-bottom: 14px;
    margin-bottom: 35px;
    &:before{
      content: '';
      display: block;
      width: 50px;
      height: 1px;
      background-color: $violet_text;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.slick-slider{
  opacity: 0;
  &>.item:not(:first-child){
    display: none;
  }
  &.slick-initialized{
    opacity: 1;
  }
}
.slick-slider{
  opacity: 0;
  & > .item:not(:first-child){
    display: none!important;
  }
}
.slick-slider.slick-initialized{
  opacity: 1;
}
.wrapper_big-slider >.item:not(:first-child){
  display: none!important;
}
body{
  font-family: $main_font;
}
//header{
//  .flex-wrapper{
//    min-height: 66px;
//  }
//  .flex-container{
//    display: flex;
//    align-items: center;
//  }
//}
.container-header{
  width: 1365px;
  margin: 0 auto;
}
.top{
  background-color: $violet;
  border: 0;
  height: 47px;
  margin-bottom: 26px;
}
.logo{
  display: block;
  margin-top: -29px;
  img{
    display: block;
    margin: 0 auto;
  }
}
.navbar-collapse{
  padding: 0!important;
}
.list-inline{
  margin: 0;
  height: 47px;
  display: flex;
  align-items:center;
  li{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.11px;
    padding: 0 20px 0 0;
    position: relative;
    &:last-child{
      padding: 0;
    }
    a{
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.11px;
      position: relative;
      padding-bottom: 1px;
      &:before {
        content: '';
        position: absolute;
        transition: transform .5s ease;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #ffffff;
        transform:  scaleX(0);
      }
      &:hover{
        &:before{
          transform:  scaleX(1);
        }
      }
    }

  }
}
.login-block{
  text-align: right;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a{
    font-family: "Open Sans";
    color: #fff;
  }
}
.products_row-btn{
  width: 50px;
  height: 50px;
  border: 2px solid $violet_text;
  background-color: rgba(255,255,255, .5);
  position: absolute;
  color: $violet_text;
  font-size: 30px;
  line-height: 50px;
  padding: 0;
  @include t-y;
  &:focus,
  &:active{
    border: 2px solid $violet_text;
    background-color: rgba(255,255,255, .5);
    color: $violet_text;
  }
  &:hover{
    background-color: $violet_text;
    color: #fff;
  }
  &.products_row-prev_btn{
    left: 112px;
    z-index: 1;
  }
  &.products_row-next_btn{
    right: 112px;
  }
}
.tab-pane{
  ol{
    li{
      font-size: 14px;
    }
  }
  ul{
    li{
      font-size: 14px;
      list-style: none;
      position: relative;
      //padding-left: 10px;
      &:before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #9f67a5;
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}
.form-horizontal .control-label{
  text-align: left!important;
  margin-bottom: 10px;
}
.navbar{
  margin-bottom: 0;
}
.dropdown-menu.dropdown-menu-right{
  background-color: #402042;
  border-radius: 0;
  margin-top: 0;
  li{
    a{
      color: #fff!important;
      font-size: 14px;
      &:hover{
        color: #402042!important;
      }
    }
  }
}
.navbar-nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.nav > li > a{
  color: #444444;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.phone-shop{
  color: $grey_light_text;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14px;
  position: relative;
  margin-right: 40px;
  padding-left: 30px;
  i{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
  }
  &:active,
  &:focus,
  &:hover{
    text-decoration: none;
    color: $violet_text;
  }
}
.btn-call-back{
  background-color: transparent;
  background-image: none;
  border: 0;
  padding: 0;
  color: $grey_light_text;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14px;
}
.btn-cart{
  background-color: transparent;
  background-image: none;
  border: 0;
  padding: 0;
  color: $grey_light_text;
  position: relative;
  i{
    font-size: 30px;
  }
  span{
    width: 20px;
    height: 20px;
    background-color: $violet_text;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
  }
}
.search-group{
  padding-left: 28px;
  padding-right: 27px;
  input.form-control{
    height: 24px;
    border: 0;
    border-bottom: 1px solid $grey_light_text;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    color: $grey_light_text;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14px;
  }
  .input-group-btn{
    padding-left: 3px;
    button{
      border: 0;
      border-radius: 0;
      padding: 0;
      color: $grey_light_text;
      font-size: 24px;
      background-color: transparent;
      &:hover,
      &:focus,
      &:active{
        background-color: transparent;
      }
    }
  }
}
.cart-wrapper{
  padding-left: 10px;
}
.wrapper_big-slider{
  margin-bottom: 90px;
  .item{
    position: relative;

  }
}
.html-block{
  margin-bottom: 65px;
  h2{
    color: $violet_text;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
  }
  h3{
    color: #444444;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.19px;
    margin: 0;
    margin-bottom: 45px;
  }
  p{
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.13px;
    margin-bottom: 40px;
  }
  a{
    font-family: $main_font;
    color: $violet_text;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.13px;
  }
}
.banner-wrapper{
  background: url(/image/catalog/home_page/bg-pink.png);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 74px 0 54px;
  margin-bottom: 114px;
  //background-size: cover;
}
.title-wrapper{
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  h2{
    color: #444444;
    font-size: 27px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    span{
      color: $violet_text;
    }
  }
  .wrapper-heart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    i{
      display: block;
      color: $violet_text;
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.18px;
      margin: 0 20px;
    }
    span{
      display: block;
      width: 220px;
      height: 1px;
      background-color: $violet_text;
    }
  }
}
.wrapper-item{
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  &:before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  &:hover{
    //cursor: pointer;
    &:before {
      -webkit-animation: shine 0.9s;
      animation: shine 0.9s;
    }
  }
  .item-text{
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    text-align: center;
    padding: 0 15px;
    .title-banner{
      font-family: 'lemon_tuesdayregular';
      font-size: 70px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: -1.75px;
      color: $violet_text;
      margin-bottom: 30px;
    }
    .name-txt{
      color: #000000;
      font-size: 19px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 0.19px;
    }
    .price-txt{
      color: #000000;
      font-size: 19px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.19px;
      text-transform: uppercase;
    }
    &.item-left{
      left: 35px;
      text-align: left;
      .name-txt{
        color: #000000;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        margin-bottom: 36px;
        width: 220px;
      }
    }
    &.item-right{
      right: 35px;
      text-align: right;
      left: inherit;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .name-txt{
        //float: right;
        color: #000000;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        margin-bottom: 36px;
        width: 220px;
      }
    }
  }
}
.nav-tabs{
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 93px;
  &>li{
    &>a{
      color: #444444;
      font-size: 19px;
      font-weight: 700;
      line-height: 21px;
      text-transform: uppercase;
      letter-spacing: 0.19px;
      border: 0;
      border-radius: 0;
      &:active,
      &:focus,
      &:hover{
        color: $violet_text;
        border: 0;
        border-radius: 0;
        background-color: transparent;
      }
    }
    &.active{
      a{
        color: $violet_text;
        border: 0;
        border-radius: 0;
        &:active,
        &:focus,
        &:hover{
          color: $violet_text;
          background-color: transparent;
          border: 0;
          border-radius: 0;
        }
      }
    }
  }
}
.product-thumb{
  margin-bottom: 73px;
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  .image{
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    .button-group{
      //display: none;
      position: absolute;
      top: 22px;
      right: 22px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-138%);
      transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
      a,
      button{
        background-color: transparent;
        border: 0;
        padding: 0;
        color: $grey_light_text;
        font-size: 22px;
        &:hover{
          color: $violet_text;
        }
        &:first-child{
          font-size: 24px;
        }
      }
    }
  }
  .caption{
    a{
      display: block;
      color: #444444;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.16px;
      text-align: center;
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 14px;
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: $violet_text;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    .price{
      color: $violet_text;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.16px;
      text-align: center;
      .price-old{
        position: relative;
        color: #444444;
        margin-right: 17px;
        &:before{
          content: '';
          display: block;
          position: absolute;
          @include t-y;
          background: url(/catalog/view/image/price-line-through.png);
          width: 100%;
          height: 100%;
          left: 0;
          background-repeat: no-repeat;
          background-position: center center;
          //background-size: cover;
        }
      }
    }
  }
  &:hover{
    .button-group{
      transform: translateY(0);
    }
    &:before{
      -webkit-animation: shine 1s;
      animation: shine 1s;
    }
  }
}
.carousel-wrapper{
  margin-bottom: 54px;
  .products_row-btn{
    &.products_row-prev_btn{
      left: -50px;
      z-index: 1;
    }
    &.products_row-next_btn{
      right: -50px;
    }
  }
  .item{
    border: 1px solid $violet_text;
    background-color: #ffffff;
    margin: 0 15px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
}
.info-wrapper{
  margin-bottom: 35px;
  p{
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.13px;
    margin-bottom: 24px;
  }
  a{
    color: $violet_text;
    font-size: 11px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.11px;
  }
}
.container-line{
  position: relative;
  z-index: 2;
}
.list-unstyled{
  li{
    margin-bottom: 15px;
    a{
      color: #444444;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 1px;
      &:before {
        content: '';
        position: absolute;
        transition: transform .5s ease;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #444444;
        transform:  scaleX(0);
      }
      &:hover{
        &:before{
          transform:  scaleX(1);
        }
      }
    }
  }
}
.wrapp-marg_right{
  margin-right: -15px;
}
.social_btn{
  a{
    font-size: 20px;
    color: #333333;
    margin-right: 13px;
  }
}
.copiright{
  background-color: #402042;
  padding: 18px 0;
  margin-top: 52px;
  p{
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }
  .img-wrap{
    text-align: right;
  }
}
.instagram-carousel .item_content {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.instagram-carousel a {
  position: absolute;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

}
.wrapper_inst{
  background: url(/catalog/view/image/3-layers.png);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 74px 0 88px;
  margin-bottom: 54px;
}
.instagram-carousel .item{
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  &:hover{

    &:before {
      -webkit-animation: shine 1s;
      animation: shine 1s;
    }

  }
}
.form-control:focus{
  border-color: #402042;
}
.wrapper-breadcrumb{
  background-color: $violet_pink;
  padding: 18px 0 17px;
  margin-bottom: 49px;
  .breadcrumb{
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
    & > li + li::before {
      padding: 0;
      color: #333333;
      content: "/\00a0";
    }
    li{
      color: #333333;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.11px;
      a{
        color: #333333;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.11px;
      }
    }
  }
}
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}
.form-checkbox__marker::after {
  position: absolute;
  content: '';
  left: 14%;
  top: 18%;
  height: 40%;
  width: 72%;
  border-bottom: 1px solid $violet_text;
  border-left: 1px solid $violet_text;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.form-checkbox__label span, .form-checkbox__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.form-checkbox__label span, .form-checkbox__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker, .form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: $violet_text;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after, .form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}
.form-checkbox input[type="radio"], .form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.flex-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.select2-container .select2-selection--single {
  //min-width: 263px !important;
  padding: 0 15px;
  height: 40px;
  border-radius: 0!important;
  border-color: $violet_text;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  position: absolute;
  top: 1px;
  right: 15px;
  width: 20px;
  line-height: 40px;
  font-size: 15px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: $violet;
}
.select2-container--default .select2-results__option[aria-selected="true"]{
  background-color: $violet_pink;
}
.select2-container--open{
  .select2-selection__arrow{
    i{
      transform: rotate(180deg);
    }
  }
}
.nav > li > a:focus, .nav > li > a:hover,
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
  background-color: $violet_pink;
}
.dropdown-menu{
  padding: 0;
  border: 0;
  border-radius: 4px;
  ul{
    li{
      margin-bottom: 0;
      transition: .5s;
      a{
        padding: 10px 15px;
        display: block;
      }
      &:hover{
        cursor: pointer;
        background-color: $violet_pink;
      }
    }
  }
}
.product-container{
  margin-top: 40px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 50px;

}
.pagination li {
  padding: 0px 5px;
}
.pagination li.not_active span:hover {
  background-color: transparent;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span{
  border-radius: 0;
  border: 0;
}
.pagination li.not_active span {
  font-size: 16px;
  text-align: left;
  border-radius: 0px;
  color: #999999!important;
  border: 0px;
}
.pagination li.next a,
.pagination li.next span,
.pagination li.prev a,
.pagination li.prev span {
  font-size: 16px;
  text-align: left;
  color: $violet_text;
  border-radius: 0px;
  border: 0px;
}
.pagination li.next a:hover,
.pagination li.next span:hover,
.pagination li.prev a:hover,
.pagination li.prev span:hover{
  border: 0;
  color: $violet_text;
  background-color: #fff;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #1a1a1a;
  border: 0;
  text-decoration: none;
  background-color: #fff;
  //border: 1px solid #ddd;
}
.pagination li a {
  float: none;
  font-size: 16px;
  color: #1a1a1a;
  padding: 0px;
  height: 25px;
  min-width: 25px;
  border-radius: 0;
  text-align: center;
  border:0;
  display: block;
}
.pagination li a:focus,
.pagination li a:active,
.pagination li a:hover{
  background-color: $violet_text;
  border-radius: 5px;
  color: #fff;
}
.pagination li.active span {
  padding: 0px;
  height: 25px;
  min-width: 25px;
  //border-radius: 0;
  font-size: 16px;
  text-align: center;
  background-color: $violet_text;
  border-radius: 5px;
  color: #fff;
  border: 0;
  //border: solid 1px #d0362b;
  //background-color: transparent;
}

.pagination li.active span:hover{
  background-color: transparent;
  border-radius: 5px;
  color: $violet_text;
  //border: solid 1px #d0362b;
}
.pagination li i{
  margin: 0 5px;
  line-height: 16px;
  font-size: 16px;
}
.new-product{
  width: 80px;
  height: 40px;
  background-color: $violet_text;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    margin-bottom: 0;
  }
}
h1{
  color: #333333;
  font-size: 27px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  margin: 0 0 36px;
}
#mfilter-content-container{
  h1{
    margin-bottom: 0;
  }
}
.info-prod{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 38px;
  .item-info{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    span{
      color: #333333;
      font-weight: 700;
      letter-spacing: 0.16px;
      position: relative;
    }
    .price-new{
      color: $violet_text;
    }
  }
}
.price-cart{
  color: $violet_text;
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.23px;
  .price-old{
    margin-right: 34px;
    span{
      position: relative;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      @include t-y;
      background: url(/catalog/view/image/price-line-through.png);
      width: 100%;
      height: 100%;
      left: 0;
      background-repeat: no-repeat;
      background-position: center center;
      //background-size: cover;
    }
  }
}
.table-cart{
  .price-cart{
    font-size: 18px;
  }
}
.rating{
  color: $violet_text;
  .fa-stack{
    width: 1em;
    height: 1em;
    line-height: normal;
  }
}
.thumbnails{
  width: 456px;
  margin: 0 auto 35px;
  .item{
    a{
      cursor: pointer!important;
      &:hover{
        cursor: pointer;
      }
    }

  }

}
.thumbnails-mini{
  .item{
    //width: 70px!important;
    //height: 70px!important;
    margin: 0 7.5px;
    img{
      width: 100%;
    }
    &:hover{
      cursor: pointer;
    }
    &.slick-current{

      img{
        border: 1px solid #9f67a5;
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.09);
      }

    }
  }
}
.wrapp_inputs{
  width: 100px;
  height: 50px;
  border: 1px solid #9f67a5;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  .button{
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
  }
  input{
    width: 33.3%;
    height: 100%;
    border: 0;
    box-shadow: none;
    text-align: center;
  }
}
.btn-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qty_block{
  margin-right: 24px;
}
.buy_block{
  margin-right: 24px;
  button{
    height: 50px;
    border: 0;
    background-color: $violet_text;
    min-width: 330px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.19px;
    &:hover,
    &:active,
    &:focus{
      border: 2px solid $violet_text;
      background-color: #fff;
      color: $violet_text;
    }
  }
}
.in_wishlist{
  width: 50px;
  height: 50px;
  border: 1px solid  $violet_text;
  background-color: #ffffff;
  font-size: 26px;
  color:  $violet_text;
  &:hover,
  &:focus,
  &:active{
    background-color: $violet_text;
    color: #fff;
  }
  &.disabled{
    background-color: $violet_text;
    color: #fff;
    cursor: auto;
  }
}
.container-options{
  margin-bottom: 40px;
}
.container-description-prod{
  margin-bottom: 60px;
  .nav-tabs{
    margin-bottom: 25px;
    justify-content: space-between;
    &> li{
      margin-right: 44px;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        border-bottom: 2px solid #9f67a5;
      }
      &> a{
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        letter-spacing: 0.16px;
        padding: 10px 0;
        &:hover{
          color: #444444;
          background-color: transparent;
        }
      }
      &.active{
        border-bottom: 2px solid #9f67a5;
        a{
          color: #444444;
        }
      }
    }
  }
  .tab-pane{
    &>*{
      color: #444444;
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
    }
  }
}
.related-prod{
  border-bottom: 2px solid #f9f5f9;
  padding: 0px 0 63px;
  background: url(/catalog/view/image/product-banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 83px;
}
.prod-container{
  border-bottom: 2px solid #f9f5f9;
  margin-bottom: 54px;
}
.btn-primary{
  height: 50px;
  background-color: #9f67a5;
  color: #fff;
  border: 0;
  border-radius: 0;
  background-image: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  &:focus,
  &:active,
  &:active:focus,
  &:active:hover,
  &:hover{
    background-color: $violet;
  }
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover{
  background-color: transparent;
}
.btn-default.focus:focus,
.btn-default:active,
.btn-default.focus,
.btn-default:hover{
  background-color: transparent;
}
.modal-sm{
  width: 500px;
}
input.form-control{
  height: 50px;
  border-radius: 0;
  border: 1px solid #9f67a5;
  background-color: #ffffff;
  padding: 0 15px;
}
textarea.form-control{
  height: 150px;
  resize: none;
  border-radius: 0;
  border: 1px solid #9f67a5;
  background-color: #ffffff;
  padding: 15px;
}
.modal-title{
  text-transform: uppercase;
}
.control-label{
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: #333;
}
.cont-margin{
  margin-top: -4px;
}
.wrapper-prod_home{
  .title-wrapper{
    margin-bottom: 15px;
  }
}
.user_message_wrapp{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $violet_text;
  z-index: 9;
}
.alert-success{
  background-color: $violet_text;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  //position: absolute;
  //top: 0;
  //width: 100%;
  a{
    color: $violet_pink;
  }
}
.back-top{
  width: 72px;
  height: 72px;
  border: 2px solid #9f67a5;
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  right: 203px;
  bottom: 255px;
  transform: rotate(45deg);
  font-size: 27px;
  a{
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(225deg);
    display: flex;
    color: #9f67a5;
    align-items: center;
    justify-content: center;

    span{
      font-weight: 700;
    }
  }
  &:hover{
    background-color: #9f67a5;
    a{
      color: #fff;
    }
  }

}
.btn-slider{
  width: 260px;
  height: 70px;
  border: 2px solid #9f67a5;
  background-color: rgba(255,255,255, 1);
  color: #9f67a5;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease;
  position: absolute;
  bottom: 185px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 22;
  &:focus,
  &:active,
  &:hover{
    background-color: #9f67a5;
    color: #ffffff;
  }
}
.cart-wrapper{
  position: relative;
  .dropdown-menu{
    position: absolute;
    top: 100%;
    left: 15px;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0;
    margin: 0!important;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    min-width: auto;
    &.pull-right{
      right: 0;
    }
    &.table-basket {
      width: 971px;
      padding: 24px 34px;
      border: solid 1px #d3d3d3;
      border-radius: 0;
      left: 50% !important;
      transform: translate(-100%, 0);
    }
  }
  &.open{
    .dropdown-menu{
      display: block;
    }
  }
}
.new-group .position {
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  color: #333;
  position: relative;
}
.new-group .position span {
  width: 18.4px;
  height: 1px;
  background-color: #ababab;
  position: absolute;
  top: 50%;
  left: 10px;
}
.new-group .increment span::before {
  content: '';
  width: 18.4px;
  height: 1px;
  position: absolute;
  background-color: #ababab;
  transform: rotate(90deg);
}
.container-btn {
  position: relative;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  transform: translate(0, -50%);
}
.delete-items {
  background-color: transparent;
  border: none;
  right: 0;
}
.btn-close {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: solid 1px  #9f67a5;
  border-radius: 0;
  position: absolute;
  right: 0;
  padding: 0;
}
.wrapper-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  top: 0;
}
.close-icon {
  width: 16px;
  height: 1px;
  background-color: #545454;
  display: block;
  margin-top: -1px;
  position: relative;
  top: 15px;
  left: 6px;
}
.btn-close .close-icon:nth-child(1) {
  transform: rotate(45deg);
}
.btn-close .close-icon:nth-child(2) {
  transform: rotate(-45deg);
}
.table-cart tbody td {
  border-top: none !important;
  vertical-align: middle !important;
}
.delete-items .close-icon {
  background-color: $violet;
}
.new-group {
  display: flex;
  float: left;
}
.cart-items:last-child {
  border: 0;
}
.cart-items {
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20.5px;
  width: 100%;
  display: table;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
  border-bottom: 0;
}
.cart-product{
  color: #9f67a5;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.23px;
  &:hover,
  &:active,
  &:focus{
    color: $violet;
  }
}
.btn-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn-primary{
    min-width: 250px;
  }
}
.table-cart{
  .qty_block{
    margin-right: 0;
  }
}
.simple_cart{
  background-color: $violet_pink;
  padding: 20px 15px;
  .simple_item{
    display: flex;
    border-bottom: 1px solid aliceblue;
    padding-bottom: 15px;
    margin-bottom: 15px;
    .wrapp_cart_right{
      width: 100%;
    }
  }
}
.wrapper-image{
  width: 120px;
}
.wrapper-name{
  min-width: 468px;
}
.pqt{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-cart{
  .name{
    margin-bottom: 20px;
    a{
      font-size: 18px;
      color: $violet_text;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
.btn-pink{
  background-color: $violet_text;
  color: #fff;
  height: 50px;
  border-radius: 0;
  font-weight: 700;
  min-width: 250px;
  &:focus,
  &:active,
  &:hover{
    background-color: $violet;
    color: #fff;
  }
}
.btn-simple{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .btn{
    margin-right: 20px;
  }
}
.btn-default{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 2px solid #9f67a5;
  background-color: #ffffff;
  color: #9f67a5;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.19px;
  border-radius: 0;
  min-width: 250px;
  text-transform: uppercase;
  &:hover{
    border: 2px solid #9f67a5;
    background-color: #9f67a5;
    color: #fff;
  }
}
.simplecheckout-block-content{
  .select2-container .select2-selection--single{
    height: 50px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 50px;
    line-height: 50px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 50px;
  }
}
.map{
  width: 100%;
  height: 400px;
}
.item-contact{
  p{
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  a{
    font-weight: 600;
    color: #333;
    &:hover{
      color: $violet_text;
      i{
        color: $violet_text;
      }
    }
  }
}
.content-information{
  & > *{
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
  ul{
    margin-bottom: 20px;
    li{
      position: relative;
      list-style: none;
      padding-left: 25px;
      margin-bottom: 10px;
      &:before{
        content: '';
        background-color: $violet_text;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        @include t-y;
      }
    }
  }
  ol{
    counter-reset: item;
    margin-bottom: 20px;
    li{
      position: relative;
      list-style: none;
      padding-left: 35px;
      margin-bottom: 10px;
      &:before {
        content: counter(item);
        counter-increment: item;
        background-color: $violet_text;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: -6px;
        @include t-y;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  p{
    margin-bottom: 20px;
  }
  h2{
    margin: 0 0 20px;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h3{
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h4{
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.form-style{
  .required{
    margin-bottom: 20px;
  }
}
.modal-content{
  border-radius: 0;
  padding: 30px;
  //position: absolute;
  //@include t-y;
  .fl_login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-checkbox{
      padding-left: 0;
    }
    a{
      color: $violet_text;
      &:hover,
      &:focus,
      &:active{
        color: $violet;
      }
    }
  }
  .center-btn{
    margin: 0 auto;
    &.createaccount{
      margin: 20px auto;
    }
  }
  .title-wrapper{
    margin-bottom: 20px;
  }

  .social_block{
    margin: 20px 0;
    .title{
      text-transform: uppercase;
      text-align: center;
      font-size: 23px;
      font-weight: 700;
    }
  }
}
.modal-dialog{
  .close{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
    opacity: 1!important;
    top: 15px;
    right: 15px;
    .close-icon{
      background-color: $violet;
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        transform: rotate(-45deg);
      }
    }
  }
}

.agree{
  color: $violet_text;
  &:hover,
  &:focus,
  &:active{
    color: $violet_text;
  }
}
.account_title{
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  margin-bottom: 20px;
}
.account_left_bar{
  padding-left: 0;
  li{
    list-style: none;
    margin-bottom: 20px;
    a{
      padding: 15px 15px;
      border: 2px solid $violet_text;
      display: block;
      font-weight: 600;
      text-align: center;
      color: $violet_text;
      font-size: 16px;
      text-transform: uppercase;
      &:hover,
      &:focus,
      &:active{
        background-color: $violet_text;
        color: #fff;
      }
    }
    &.active{
      a{
        background-color: $violet_text;
        color: #fff!important;
      }
    }
  }
}
.order_histor_item{
  border: 1px solid $violet_text;
}
.table-bordered{
  border: 1px solid #f0e7f1!important;
}
.name-news{
  display: block;
  color: #444444;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 14px;
}
.news-block{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  &:hover{
    &:before{
      -webkit-animation: shine 1s;
      animation: shine 1s;
    }
  }
  .position-date{
    margin-bottom: 10px;
  }
  a{
    text-align: center;
    display: block;
    span{
      //display: block;
      color: #9f67a5;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.16px;
      text-align: center;
    }
  }
}
.news_block_btn{
  margin-bottom: 50px;
  .btn-default{
    width: 250px;
    margin: 0 auto;
  }
}
.wrapper-image_article{
  a{
    display: block;
    min-height: 263px;
    text-align: center;
    img{
      margin: 0 auto;
      display: block;
      float: none;
    }
  }
}
.table-cart_xs{
  p{
    font-weight: 600;
  }
}
.price-size.total{
  text-align: right;
}
.alert-danger {
  color: #a94442;
  background-color: #f0b9b9;
  border-color: #ebccd1;
  border-radius: 0;
}
.color{
  display: flex;
  flex-direction: row;
}
.color-radio{
  //float: left;
  border: 1px solid #f9f5f9;
  margin: 0 4.5px 11px;
  &.activeCSS{
    border-color:#9f67a5 ;
  }
}
.card-info__val{
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.16px;
}
.alfavit{
  margin-bottom: 20px;
}
.attribute_groups{
  margin-bottom: 20px;
}
.product-search{
  .select2-container .select2-selection--single{
    height: 50px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 50px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    line-height: 50px;
    height: 50px;
  }
}
.checkbox-inline{
  margin-bottom: 20px;
}
.margin-btn{
  margin: 20px;
}
.brand-block{
  background-color: #f0e7f1;
  padding: 15px;
  margin-bottom: 30px;
  h2{
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 0 20px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-weight: 700;
  }
  .name-brand{
    padding: 5px 0;
    text-align: center;
    a{
      color: #333333;
    }
  }
}
.account-return-add{
  .input-group{
    .form-control{
      min-width: 215px;
    }
  }

}
.category-child{
  padding-left: 0;
  li{
    float: none;
    height: 40px;
    background-color: #f0e7f1;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      color: #333;
      text-transform: uppercase;
      font-size: 18px;
      display: block;
    }
  }
}