$violet: #402042;
$greyish-brown: #3b2f2d;
$white: #ffffff;
$grey_text: #444444;
$grey_light_text: #777777;
$violet_text: #9f67a5;
$violet_pink: #f0e7f1;
@media screen and (max-width: 1366px) {
  .back-top{
    right: 32px;
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
  .btn-slider{
    bottom: 110px;
  }
}
@media screen and (max-width: 1280px){
  .product-thumb .caption a{
    height: 61px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1199px) {
  .article-image{
    width: 100%;
  }
  .html-block{
    img{
      width: 100%;
    }
  }
  .row{
    &.not-row-md{
      margin: 0px!important;
    }
  }
  .social_btn{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .btn-slider {
    bottom: 80px;
  }
  #mfilter-opts-price-min, #mfilter-opts-price-max {
    width: 110px!important;
    min-width: 113px!important;
    max-width: 124px!important;
  }
  .cart-wrapper .dropdown-menu.table-basket{
    width: 720px;
  }
  .buy_block{
    button{
      min-width: 260px;
    }
  }
  .container-description-prod .nav-tabs > li{
    margin-right: 30px;
    a{
      font-size: 14px;
    }
  }
  .wrapper-name{
    min-width: 260px;
  }
}
@media screen and (max-width: 991px) {
  .logo{
    margin-top: 0;
  }
  .top{
    .list-inline{
      justify-content: center;
    }
  }
  .btn-cart{
    float: none!important;
  }
  .cart-wrapper {
    text-align: center;
  }
  .btn-slider{
    height: 50px;
    font-size: 16px;
    bottom: 15%;
  }
  .wrapper-item{
    img{
      width: 100%;
    }
  }
  .html-block{
    margin-bottom: 0;
    img{
      width: auto;
      margin: 0 auto;
      display: block;
    }
  }
  .banner-wrapper{
    margin-bottom: 54px;
  }
  .product-thumb{
    .image{
      img{
        width: 100%;
      }
    }
  }

}
@media screen and (max-width: 767px) {
  .container-line{
    text-align: center;
  }
  .account-return-add{
    .input-group{
      display: block;
      .btn-default{
        margin-top: 10px;
        width: 100%;
      }
    }
    .pull-left{
      float: none!important;
      margin-bottom: 10px;
    }
    .pull-right{
      float: none!important;
      .btn-primary{
        width: 100%;
        margin-top: 5px;
      }
    }
  }
  .cont-margin{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar{
    width: 100%;

  }
  .container{
    width: 100%;
  }
  .navbar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 -15px 0px;
    button{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin:0;
      color: #fff;
      font-size: 30px;
      padding: 7px 15px;
      background-color: #402042;
      border-radius: 0;
      margin: 0 -15px;
      &:focus,
      &:active,
      &:hover{
        color: #fff;
      }
      span{
        font-family: 'lemon_tuesdayregular';
        font-size: 34px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -1.75px;
        color: #fff;
        margin-right: 20px;
      }
    }
  }
  .navbar{
    &.open{
      position: fixed;
      top: 0;
      background-color: $violet_pink;
      z-index: 9;
      height: 100%;
      left: 0;
      padding: 50px 15px;
      overflow-y: auto;
    }
  }
  .overflow-body{
    overflow: hidden;
  }
  .navbar-nav{
    flex-direction: column;
    margin: 0;

    li{
      width: 100%;
      text-align: center;
    }
  }
  .html-block{
    padding: 0 15px;
  }
  .wrapper-breadcrumb{
    .breadcrumb{
      padding: 0 15px;
    }
  }
  .carousel-wrapper__releted{
    padding: 0 15px;
  }
  .slider-image-big-curier{
    margin-bottom: 30px;
  }
  .thumbnails{
    width: 100%;
    .item{
      a {
        display: block;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
  .wrapper-module{
    padding: 0 15px;
  }
  .nav-tabs{
    margin-bottom: 35px;
    flex-direction: column;
    & > li{
      width: 100%;
      text-align: center;
    }
  }
  .wrapper-top-menu{
    position: relative;
    .list-inline{
      display: none;
      background-color: $violet;
      flex-direction: column;
      &.active{
        display: block;
        position: static;
        top: 100%;
        width: 100%;
        z-index: 9;
        height: 100%;
      }
      li{
        float: none;
        width: 100%;
        margin-bottom: 10px;
        padding: 0 15px;
      }
    }
    .open-xs-menu{
      color: $violet_pink;
      font-size: 18px;
      display: flex;
      justify-content: flex-start;
      align-items: left;
      background-color: transparent;
      border: 0;
      padding: 6px 15px;
      width: 100%;
      min-height: 47px;
      span{
        font-family: 'lemon_tuesdayregular';
        font-size: 25px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -1.75px;
        color: $violet_pink;
        margin-right: 15px;
      }
    }
  }
  .top{
    height: auto;
  }
  .wrapper-xs-padding{
    padding: 0 15px;
  }
  .login-block a {
    text-align: right;
    font-size: 18px;
    width: 100%;
    padding-right: 15px;
  }
  .top{
    margin-bottom: 15px;
  }
  .dropdown-menu.dropdown-menu-right{
    background-color: #402042;
    border-radius: 0;
    margin-top: 0;
    li{
      a{
        color: #fff!important;
        font-size: 14px;
      }
    }
  }
  .modal-sm{
    width: 90%;
  }
  .modal-content{
    padding: 15px;
  }
  .btn-default{
    min-width: 100%;
    width: 100%;
  }
  .title-wrapper h2{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .modal-content .fl_login{
    flex-direction: column;
  }
  .top{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9;
  }
  header{
    padding-top: 62px;
  }
}
@media screen and (max-width: 580px) {
  .col-xxs-12{
    width: 100%;
    float: none;
  }
  .container-description-prod{
    .nav-tabs{
      flex-direction: column;
      justify-content:center;
      li{
        width: 100%;
        margin-right: 0;
        border: 1px solid $violet_text;
        margin-bottom: 15px;
        text-align: center;
        a{
          margin-right: 0;
        }
        &.active{
          a{
            background-color: $violet_text;
            color: #fff;
          }
        }
      }
    }
  }
  .html-block img{
    width: 100%;
  }
  .wrapp-marg_xs-left{
    margin-left: -15px;
  }
  .copiright{
    .img-wrap{
      img{
        width: 100%;
      }
    }
  }
}