<?php echo $header; ?>
<?php $this->partial('breadcrumbs', array('breadcrumbs' => $breadcrumbs));?>
<div class="container">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>">
        <div class="row">

            <h1><?php echo $heading_title; ?></h1>
            <?php echo $content_top; ?>
            <div class="content-information">
                <?php echo $description; ?>
            </div>


            <?php echo $content_bottom; ?>
        </div>

    </div>
    <?php echo $column_right; ?>
  </div>
</div>
<?php echo $footer; ?>